<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>AUREQ</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>br.com.sidyfurtado.aureq</string>
    <key>CFBundleName</key>
    <string>AUREQ</string>
    <key>CFBundleDisplayName</key>
    <string>AUREQ</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9.0</string>
    <key>CFBundleVersion</key>
    <string>0.9.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>ASTRA Audio: AUREQ</string>
        <key>description</key>
        <string>AUREQ</string>
        <key>factoryFunction</key>
        <string>AUREQAUFactory</string>
        <key>manufacturer</key>
        <string>AStr</string>
        <key>type</key>
        <string>aufx</string>
        <key>subtype</key>
        <string>Aurq</string>
        <key>version</key>
        <integer>2304</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
